
        <div class="logobar">
            <div class="logo">
                <a href="index.php" class="logotext1">Historical</a>
                <a href="index.php" class="logotext2">games</a>
            </div>

            <div class="contactsbar">
                <div class='info'>
                    <img class="telephone" src="public/img/mobile.png" alt="tel">
                    <a href="tel:+1234567890" class="tel">+123 456 7890</a>
                </div>
                <div class='info'>
                    <img class="email" src="public/img/email.png" alt="email">
                    <a href="mailto:info@example.com" class="mail">info@example.com</a>
                </div>
            </div>
            <form action='index.php?act=search&c=search' method="post" class="search-form" >
                <input type="text" name="search" class="search-field" placeholder="Поиск...">
                <button type="submit" class="btn-search">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
